.root {
  display: grid;
  grid-gap: 0;

  --border: 1px solid var(--stroke-color);

  border: var(--border);
  background: var(--table-bg-color);
}

.contentViewport {
  height: 400px;
  overflow-y: scroll;

}

.contentContainer {
  position: relative;
  width: 100%;
}

.cell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--table-bg-color);
  overflow: hidden;
  height: 100%;
}

.cell:not(.header:last-child) {
  border-right: var(--border);
}

.cell.header {
  font-weight: bold;
}

.scrollbarOffset {
  width: var(--scrollbar-width);
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--row-height);
  min-height: var(--row-height);
  max-height: var(--row-height);
}

.row:not(.headers) {
  position: absolute;
  top: 0;
  left: 0;
}

.row:not(:last-child) .cell {
  border-bottom: var(--border);
}