:root {
  --bg-color: #313335;
  --table-bg-color: #2B2B2B;
  --text-color-primary: #BBBBBB;
  --text-color-secondary: #777777;
  --stroke-color: #3C3F41;

  --scrollbar-width: 15px;

  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--stroke-color) var(--table-bg-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


